.container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 10%;
    height: 10vh;
    z-index: 1;
}

.avatarContainer {
    height: 100%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

.avatar {
    width: 100%;
    height: 100%;
}

.dataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: black;
    font-size: 24px;
}
