.wrapper {
    width: 100%;
}

.inputGroup {
    width: 100%;
    height: 7vh;
    position: relative;
}

.baseInput {
    width: 100%;
    height: 7vh;
    padding: 2% 12% 0 12%;
    border: 2px solid black;
    border-radius: 4vh;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    appearance: none;
    font-family: 'BloggerSansRegular';
}

.errorInput {
    width: 100%;
    height: 7vh;
    padding: 2% 12% 0 12%;
    border: 2px solid red;
    border-radius: 4vh;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    appearance: none;
    color: red;
    font-family: 'BloggerSansRegular';
}

.baseLabel {
    position: absolute;
    left: 12%;
    top: 50%;
    color: gray;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    transition: all 0.2s ease;
}

.errorLabel {
    position: absolute;
    left: 12%;
    top: 50%;
    color: red;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    transition: all 0.2s ease;
}

.baseInput:focus + label,
.baseInput:not(:placeholder-shown) + label {
  top: 1.5vh;
  left: 12%;
  font-size: 16px;
  color: lightgray;
}

.errorInput:focus + label,
.errorInput:not(:placeholder-shown) + label {
  top: 1.5vh;
  left: 12%;
  font-size: 16px;
  color: red;
}

.baseSpanWrapper {
    display: none;
}

.errorSpanWrapper {
    width: 100%;
    margin: 0.8vh 0 0 0;
    display: flex;
    justify-content: center;
}

.baseSpan {
    display: none;
}

.errorSpan {
    color: red;
}
