.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatarContainer {
    width: 40%;
    margin-top: 4vh;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.selectionButtonContainer {
    margin-top: 2vh;
}

.avatar {
    display: block;
    width: 100%;
    height: 100%;
}

.hiddenInput {
    display: none;
}

.previewContainer {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 4vh;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5vh;
}

.errorPreviewContainer {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 4vh;
    overflow: hidden;
    border: 2px solid red;
    border-radius: 5vh;
}

.preview {
    width: 100%;
    height: 100%;
}

.buttonContainer {
    margin-top: 4vh;
}

.errorContainer {
    color: red;
    margin-top: 2vh;
}
