.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > *:not(:last-child) {
  margin-bottom: 2vh;
}

.form button:last-child {
    margin-top: 2vh;
}
