@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #ff3ea5;
}

@property --color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #a047ff;
}

@keyframes borderFlow {
    0% {
        --angle: 0deg;
        --color1: #ff3ea5;
        --color2: #a047ff;
    }
    25% {
        --angle: 90deg;
        --color1: #ff5fba;
        --color2: #b35eff;
    }
    50% {
        --angle: 180deg;
        --color1: #ff84d2;
        --color2: #c680ff;
    }
    75% {
        --angle: 270deg;
        --color1: #ff4fc0;
        --color2: #a85cff;
    }
    100% {
        --angle: 360deg;
        --color1: #ff3ea5;
        --color2: #a047ff;
    }
}

.animatedLoadingActive {
    position: relative;
}

.animatedLoadingInactive {
    position: relative;
}

.animatedLoadingActive::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -4px;
    background: linear-gradient(var(--angle), var(--color1), var(--color2));
    animation: borderFlow 1s linear infinite;
    border-radius: 2.5vh;
    opacity: 1;
}

.animatedLoadingInactive::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -5px;
    background: linear-gradient(var(--angle), var(--color1), var(--color2));
    animation: borderFlow 1s linear infinite;
    border-radius: 2.5vh;
    opacity: 0;
}

.mainContainerActive {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 2.5vh;
    box-sizing: border-box;
    margin-top: 10vh;
    padding-top: 1vh;
    z-index: 1;
}

.mainContainerInactive {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    border-radius: 2.5vh;
    box-sizing: border-box;
    margin-top: 10vh;
    padding-top: 1vh;
    z-index: 1;
}

.contactsContainer {
    width: 100%;
    height: 67vh;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    background-color: white;
    border-radius: 2.5vh;
    z-index: 1;
    box-sizing: border-box;
}

.searchGroup {
    margin-left: 2.5%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 95%;
    height: 5vh;
    box-sizing: border-box;
}

.searchInput {
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 2.5vh;
    outline: none;
    appearance: none;
    padding-left: 4%;
    font-size: 16px;
    font-family: 'BloggerSansRegular';
}

.closeSearchButtonActive {
    position: absolute;
    height: 5vh;
    aspect-ratio: 1/1;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 2.5vh;
    background-color: white;
    cursor: pointer;
}

.closeSearchButtonInactive {
    display: none;
}

.closeSearchButtonActive:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.closeSearchImage {
    width: 80%;
    height: 80%;
}

.displayedItemContainer {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1vh;
}

.displayedItemContainerActive {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1vh;
    background: linear-gradient(
        135deg,
        #ffdde8,
        #f0ccff
    );
    border-radius: 2.5vh;
}

.displayedItemContainer:hover {
    width: 95%;
    margin-left: 2.5%;
    cursor: pointer;
    background: linear-gradient(
        135deg,
        #ffdde8,
        #f0ccff
    );
    border-radius: 2.5vh;
}
