@font-face {
	font-family: 'BloggerSansLight';
	src: url('../fonts/blogger-sans.light.ttf') format('truetype')
}

@font-face {
	font-family: 'BloggerSansRegular';
	src: url('../fonts/blogger-sans.regular.ttf') format('truetype')
}

@font-face {
	font-family: 'BloggerSansMedium';
	src: url('../fonts/blogger-sans.medium.ttf') format('truetype')
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main {
    font-family: 'BloggerSansMedium', sans-serif;
	overflow-y: hidden;
	background: url('../media/background.jpg');
	background-size: cover;
	z-index: 0;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: auto;
}

a {
	text-decoration: none;
	color: black;
}

p {
	margin: 0;
}
