.breathe:hover {
    animation: breathe 1.5s ease-in-out infinite;
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::after {
	content: '';
	position: absolute;
	inset: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.01) 10%,
        rgba(0, 0, 0, 0.04) 20%,
        rgba(0, 0, 0, 0.08) 30%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0.12) 50%,
        rgba(0, 0, 0, 0.1) 60%,
        rgba(0, 0, 0, 0.08) 70%,
        rgba(0, 0, 0, 0.04) 80%,
        rgba(0, 0, 0, 0.01) 90%,
        rgba(0, 0, 0, 0) 100%
    );
    background-color: white;
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-out infinite;
}

.spinner {
	width: 20%;
	aspect-ratio: 1/1;
	border: 3px solid transparent;
	border-top-color: #000;
	border-right-color: #000;
	border-radius: 50%;
	animation: spin .8s linear infinite;
}

@keyframes breathe {
    0%,100% { transform: scale(1); }
    50%     { transform: scale(1.15); }
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: -100% 0;
	}
}

@keyframes spin {
	to { transform: rotate(360deg); }
}
