@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #ff3ea5;
}

@property --color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #a047ff;
}

@keyframes borderFlow {
    0% {
        --angle: 0deg;
        --color1: #ff3ea5;
        --color2: #a047ff;
    }
    25% {
        --angle: 90deg;
        --color1: #ff5fba;
        --color2: #b35eff;
    }
    50% {
        --angle: 180deg;
        --color1: #ff84d2;
        --color2: #c680ff;
    }
    75% {
        --angle: 270deg;
        --color1: #ff4fc0;
        --color2: #a85cff;
    }
    100% {
        --angle: 360deg;
        --color1: #ff3ea5;
        --color2: #a047ff;
    }
}

.animatedLoadingActive {
    position: relative;
}

.animatedLoadingInactive {
    position: relative;
}

.animatedLoadingActive::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -4px;
    background: linear-gradient(var(--angle), var(--color1), var(--color2));
    animation: borderFlow 1s linear infinite;
    border-radius: 2.5vh;
    opacity: 1;
}

.animatedLoadingInactive::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -5px;
    background: linear-gradient(var(--angle), var(--color1), var(--color2));
    animation: borderFlow 1s linear infinite;
    border-radius: 2.5vh;
    opacity: 0;
}

.containerInactive {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 2.5vh;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.containerActive {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 2.5vh;
    background-color: white;
    z-index: 1;
}

.messagesContainer {
    width: 100%;
    overflow-y: auto;
}

.messagesContainer::-webkit-scrollbar {
    display: none;
}

.inputContainer {
    position: relative;
    width: 100%;
    min-height: 7vh;
    max-height: 21vh;
    z-index: 3;
}

.messageTextArea{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7vh;
    border: 2px solid black;
    align-items: center;
    border-radius: 2.5vh;
    box-sizing: border-box;
    appearance: none;
    outline: none;
    font-family: 'BloggerSansRegular';
    font-size: 16px;
    resize: none;
    overflow: hidden;
    padding: 2.5vh 10% 2.5vh 2%;
    line-height: 2vh;
}

.sendMessageButton {
    position: absolute;
    bottom: 1vh;
    right: 2%;
    height: 5vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}

.sendMessageButton:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.arrowUp {
    width: 100%;
    height: 100%;
}
